<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us Page</title>

        <link type="text/css" href="{{ asset('/css/components/aboutUs.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="about-us">
            <h1 class="about-us-title">Who we are and what we do ?</h1>
            <div class="rounded-cards">
                <div class="person-card">
                    <img src="{{asset('/assets/about-us/circle-card1.png')}}" alt="first photo">
                    <div class="card-body">
                        <h5 class="card-title">Chopper</h5>
                        <p class="card-text"> The curios one </p>
                    </div>
                </div>
                <div class="person-card">
                    <img src="{{asset('/assets/about-us/circle-card2.png')}}" alt="second photo">
                    <div class="card-body">
                        <h5 class="card-title">Happy</h5>
                        <p class="card-text">The great one</p>
                    </div>
                </div>
                <div class="person-card">
                    <img src="{{asset('/assets/about-us/circle-card3.png')}}" alt="third photo">
                    <div class="card-body">
                        <h5 class="card-title">Pikachu</h5>
                        <p class="card-text">The surprised one</p>
                    </div>
                </div>
            </div>
            <div>
            <h3 class="about-us-subtitle">Small business with a bright future.</h3>
            <h3 class="about-us-subtitle">We are here to offer you the best
                option for your house and make it easier to keep it clean.</h3>
            </div>
        </div>
    </body>
</html>
