<html>
    <head>
        <link type="text/css" href="{{ asset('/css/components/header.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <!-- Navigation Bar -->
    <div class="navbar">
        <h2 class="logo"> <img src="{{asset('../../assets/logo/logo.png')}}" alt="logo"></h2>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutUs">About us</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#prices">Prices</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="social-media">
            <ol>
                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.twittercom/" class="fa fa-twitter"></a></li>
                <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
            </ol>
            <ol>
                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                <li><a href="https://www.skype.com/" class="fa fa-skype"></a></li>
            </ol>
        </div>
    </div>
</html>
