<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prices Page</title>

    <link type="text/css" href="{{ asset('/css/components/prices.css') }}" rel="stylesheet">
</head>
<body>
    <div class="prices">
        <table class="table table-hover table-dark table-bordered prices-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Normal</th>
                <th scope="col">Star</th>
                <th scope="col">Vip</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Vacuum</td>
                    <td>1 year warranty</td>
                    <td>1 fix free</td>
                    <td>100$</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Vacuum & bags</td>
                    <td>5 years warranty</td>
                    <td>3 fixes free</td>
                    <td>400$</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Vacuum, bags & brush</td>
                    <td>10 years warranty</td>
                    <td>6 fixes free</td>
                    <td>2000$</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
